name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ap-south-1

    - name: Login to Amazon ECR
      uses: aws-actions/amazon-ecr-login@v1

    - name: Build Docker image
      run: |
        docker build -t karan-ecs-backend:latest ./app/backend

    - name: Tag image
      run: |
        docker tag karan-ecs-backend:latest 593732352841.dkr.ecr.ap-south-1.amazonaws.com/karan-ecs-backend:latest

    - name: Push to ECR
      run: |
        docker push 593732352841.dkr.ecr.ap-south-1.amazonaws.com/karan-ecs-backend:latest

    - name: Deploy to ECS
      uses: aws-actions/amazon-ecs-deploy-task-definition@v1
      with:
        task-definition: ecs/prop-backend-task.json
        service: prop-backend-service
        cluster: prop-ecs-cluster
        wait-for-service-stability: true
